<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div>
  <%= link_to "Edit this quote", edit_quote_path(@quote) %> |
  <%= link_to "Back to quotes", quotes_path %>

  <% if logged_in? && @quote.user == current_user %>
    <%= button_to "Delete this quote", @quote, method: :delete, class: 'btn btn-danger', form: { data: { turbo_confirm: 'Are you sure?' } } %>
  <% end %>
</div>

