<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<h2>Sign in</h2>
<%= form_tag login_path, method: :post do %>
  <div class="form-group mb-3">
    <%= email_field_tag :email, nil, required: true, placeholder: 'Email Address', class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= password_field_tag :password, nil, required: true, placeholder: 'Password', class: 'form-control' %>
  </div>
  <%= submit_tag 'Login', class: 'btn btn-primary' %>
<% end %>
