<h3 class="mb-3" style="padding-top: 10px;">Search for Public Quotes</h3>

<%= form_tag search_path, method: :get do %>
  <div class="form-group mb-3">
    <%= text_field_tag :query, params[:query], placeholder: 'Enter a keyword...', class: "form-control" %>
  </div>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>

<% if params[:query].present? %>
  <h4 class="mt-4">Results:</h4>
  <hr />

  <% if @quotes.present? %>
    <div class="row row-cols-1 g-3">
      <% @quotes.each do |quote| %>
        <div class="col">
          <div class="card bg-body-tertiary">
            <div class="card-body">
              <h4 class="card-title"><%= truncate(quote.quote_text, length: 120) %></h4>
              
              <% if quote.comment.present? %>
                <p class="card-text"><%= truncate(quote.comment, length: 140) %></p>
              <% end %>

              <p class="mb-2">
                <span class="badge bg-info text-dark">Year: <%= quote.published_year || "N/A" %></span>
                <% quote.categories.each do |category| %>
                  <span class="badge bg-secondary ms-1"><%= category.category_name %></span>
                <% end %>
              </p>

              <% if quote.philosopher.present? %>
                <p class="mb-2"><strong>Philosopher:</strong>
                  <%= quote.philosopher.fname %> <%= quote.philosopher.lname %>
                </p>
              <% end %>

              <%= link_to "Read full Quote", quote_path(quote), class: "btn btn-sm btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No matching public quotes found.</p>
  <% end %>
<% end %>
