<%= form_with(model: user) do |form| %>
  <%# --- Error messages --- %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# --- User Detail Fields --- %>
  <%# These fields are read-only for admins but editable for the user themselves. %>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :fname, "First Name:", class: "form-label" %>
    <%= form.text_field :fname, class: 'form-control' %>
  </div>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :lname, "Last Name:", class: "form-label" %>
    <%= form.text_field :lname, class: 'form-control' %>
  </div>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :email, "Email:", class: "form-label" %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :password, "Password:", class: "form-label" %>
    <%= form.password_field :password, placeholder: 'New Password (leave blank if unchanged)', class: 'form-control' %>
  </div>

  <%# --- Administrator-Only Fields --- %>
  <% if is_administrator? %>
    <div class="form-group" style="padding-bottom: 10px;">
      <%= form.label :is_admin, class: "form-check-label" %>
      <%= form.check_box :is_admin, class: "form-check-input" %>
    </div>
    <div class="form-group" style="padding-bottom: 10px;">
      <%= form.label :status %>
      <%= form.select :status, ['Active', 'Suspended', 'Banned'], {}, class: 'form-control' %>
    </div>
  <% end %>

  <div>
    <% if logged_in? %>
      <%= form.submit 'Update', class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Sign up', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>