<p style="color: green"><%= notice %></p>
<p>Hello <%= session[:fname] %></p>
<h3>Standard User Landing Page</h3>

<%= form_with(model: @user) do |form| %>
  <%# --- Error messages --- %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# --- User Detail Fields --- %>
  <%# These fields are read-only for admins but editable for the user themselves. %>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :fname, "First Name" %>
    <%= form.text_field :fname, class: 'form-control', readonly: is_administrator? %>
  </div>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :lname, "Last Name" %>
    <%= form.text_field :lname, class: 'form-control', readonly: is_administrator? %>
  </div>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, class: 'form-control', readonly: is_administrator? %>
  </div>
  <div class="form-group" style="padding-bottom: 10px;">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'New Password (leave blank if unchanged)', class: 'form-control', readonly: is_administrator? %>
  </div>

  <%# --- Administrator-Only Fields --- %>
  <% if is_administrator? %>
    <div class="form-group" style="padding-bottom: 10px;">
      <%= form.label :is_admin, class: "form-check-label" %>
      <%= form.check_box :is_admin, class: "form-check-input" %>
    </div>
    <div class="form-group" style="padding-bottom: 10px;">
      <%= form.label :status %>
      <%= form.select :status, ['Active', 'Suspended', 'Banned'], {}, class: 'form-control' %>
    </div>
  <% end %>

  <div>
    <%= form.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>